<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<title>Hospital - Área de Acesso</title>
	<!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" media="screen,projection">
	<link href="imagem/favicon.ico" rel="icon">
	
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

	<nav>
	    <div class="nav-wrapper">
	    	<div class="container">
		    	<a href="/" class="brand-logo"><i class="material-icons white-text">local_hospital</i> Hospital</a>
		    		<ul id="nav-mobile" class="right hide-on-med-and-down">
				        <li><a href="/">Início</a></li>
				        <li><a href="/sobre">Sobre</a></li>
				        <li><a href="/areaAcesso">Área de Acesso</a></li>
				    </ul>
	      	</div>
	     </div>
  	</nav>
	
	<div class="row">
		<div class="col s12 m4 offset-m4">
			<div class="card">
				<div class="card-action teal lighten-1 white-text center">
					<h3>Área de Acesso</h3>
					<div th:if="${param.logout}" class="row">
						<div class="col-4 center">
							<p>Até logo!</p>
						</div>
					</div>
				</div>
				<div class="card-content">
					<form action="" method="post">
						<div class="from-field">
							<label for="username">Usuário</label> 
							<input type="text" name="username">
						</div>
						<br>
						<div class="from-field">
							<label for="password">Senha</label> 
							<input type="password" name="password">
						</div>
						<br>
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
						<div class="from-field">
							<button class="btn-large waves-effect waves-dark" style="width:100%;" type="submit">ENTRAR</button> 
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<footer class="page-footer">
    	<div class="container">
            <div class="row">
            	<div class="col l6 s12">
                	<h5 class="white-text"><i class="material-icons white-text">local_hospital</i> Hospital</h5>
                	<p class="grey-text text-lighten-4">No setor de serviços de saúde, a excelência em serviços é a facilidade do hospital como prestador de serviços de saúde em consenso.</p>
              	</div>
              	<div class="col l4 offset-l2 s12">
                	<h5 class="white-text">Principais Links</h5>
                	<ul>
                  		<li><a class="grey-text text-lighten-3" href="/">Início</a></li>
                  		<li><a class="grey-text text-lighten-3" href="/sobre">Sobre</a></li>
                	</ul>
              	</div>
            </div>
          </div>
          <div class="footer-copyright">
          	<div class="container">
            © 2020 Copyright Text
            <a class="grey-text text-lighten-4 right" href="/">Hospital</a>
            </div>
          </div>
    </footer>
	<!-- Compiled and minified JavaScript -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</body>
</html>